.container {
/**
margin: 0 auto;
width: 100%;
**/
padding: 0px !important;
  } 
/**
Tables
**/
.table {
border: 1px  solid #ffff !important;
}

.tdback {
    border: 1px solid #727171 !important;
    padding: 8px 10px;
    line-height: 15px;
    background-color: #CACACA;
    color: #005689;
    font-size: large;
    text-align: center;
    position: static; /** added to show borders in firefox **/
        
    }

    .tdfront {
        padding: 8px 10px;
        line-height: 15px;
        width: auto;
        text-align: center;
        /**background-color: #FFFFFF; **/
        border-bottom: 1px solid #bbbbbb;
        border-right: 1px solid #bbbbbb;
        /***font-size:10px; **/
       
    }
  
    /** Submit Image ****/
    #upload-wrapper {
      width: auto;
    margin-right: auto;
      margin-left: auto;
     background: #F5F5F5;
     padding: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color:#666666;
      font-size: 14px;
      border-radius: 10px;
      box-shadow: 1px 1px 3px #AAA;
    clear: both;
  }

  #upload-wrapper {
    width: auto;
	margin-right: auto;
    margin-left: auto;
   background: #F5F5F5;
   padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#666666;
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    border-radius: 10px;
    box-shadow: 1px 1px 3px #AAA;
	clear: both;
}

#submit-btn {
  font-size: 1.2em;
  text-align: center;
  display: inline-block;
  margin:10px;
  width: 150px;
}

/*** yesterday-today-tomorrw***********/
.gone_div {
	width: auto; 
	display: inline-block;
/**	float: left; **/
	margin-bottom: 10px;
	margin-right: 5px;
	margin-top: 5px;
	border: 1px solid silver;
	box-shadow: 2px 4px #888888;
	background: #EDEDED;
	padding: 5px;
	border-radius: 15px;
}

.gone_header {
	color:#D77600; 
	font-size:14pt;
	font-weight: bold;
	//margin: 10px;
}
.gone_text {
	font-size:12pt;
}


.born-article-table {
	border: 1px solid silver !important;
	position: static; 
	border-collapse: collapse;
	margin-top: 10px;
	padding: 5px;
	width: auto;
	
}
.born-highlight {
    background-color: #E0E0F7;
}

.death-highlight {
    background-color: #ADD8E6;
}

.profile-image
{
	border-color:#000000;
	margin-right:6px;
	text-align: left;
	-moz-box-shadow:    1px 1px 1px 0px #777;
	-webkit-box-shadow: 1px 1px 1px 0px #777;
	box-shadow:         1px 1px 1px 0px #777;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


/** Random photo ***/
.random-frame {
	text-align: center;
	/** display: inline-block; **/
  float: left;
  width: 220px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

	background-color: #e0fbfc;
	border: 1px solid silver;
	border-radius: 10px; /**
	box-shadow: 2px 4px #888888; **/	
}
.random-photo {
  border: 10;
border-color: black;

}

